/* meta */

h1, h2, h3, h3, small {
  margin: 0
}

a {
  color: #424141;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

/* header */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#sc-logo {
  height: 100px;
  width: 100px;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* work Body */

.work-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
}

#work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: auto;
  margin: 10px;
}

#work img {
  height: 100%;
  width: auto;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer small {
  margin-left: 5%;
}

#social-links {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  width: 33%;
}

.fa-instagram:hover {
  cursor: pointer;
  color: #EF709D
}

.fa-linkedin-in:hover {
  cursor: pointer;
  color: #3772FF
}

.fa-facebook-f:hover {
  cursor: pointer;
  color: #70E4EF
}

.fa-github:hover {
  cursor: pointer;
  color: #4FB477;
}

/* menu */

#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.icon-container small {
  opacity: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 14%;
}

.icon-image {
  height: 50px;
  width: auto;
  margin-bottom: 10px;
}

.icon-image:hover {
  cursor: pointer;
}

.icon-image:hover + small {
  opacity: 100%;
}

#vessel-icon {
  height: 30px;
  width: auto;
  margin-left: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0;
}



