html {
  height: 100%;
  width: 100%;
}

.App {
  height: auto;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  display: flex;
}

.work-body {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  height: 100%;
}

#work {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 10px;
}

#work img {
  height: 100%;
  width: auto;
}

#sc-logo {
  height: 100px;
  width: 100px;
}